@media screen and (max-width: 1100px) {
  :root {
    --bg-main: #6ba1d0;
    --primary: #ededed;
    --secondary: #3a6994;
  }

  form input,
  form textarea {
    text-transform: capitalize;
  }
  body {
    font-family: helvetica, sans-serif;
    background-color: var(--bg-main);
    color: var(--primary);
  }
  label {
    margin-bottom: 3%;
    font-size: 10px;
    text-transform: uppercase;
    background-color: var(--bg-main);
    color: var(--primary);
  }
  input {
    padding: 3%;
    background-color: var(--bg-main);
    color: var(--primary);
    border: 1.5px solid var(--primary);
  }
  input::placeholder {
    color: var(--primary);
  }
  input:focus {
    border: 1.5px solid var(--secondary);
    outline: none;
    transition-property: border;
    transition-duration: 0.75s;
    transition-timing-function: linear;
  }
  select {
    background-color: var(--bg-main);
    color: var(--primary);
    border: 1.5px solid var(--primary);
  }
  select::placeholder {
    color: var(--primary);
  }
  select:focus {
    border: 1.5px solid var(--secondary);
    outline: none;
    transition-property: border;
    transition-duration: 0.75s;
    transition-timing-function: linear;
  }
  textarea {
    background-color: var(--bg-main);
    color: var(--primary);
    border: 1.5px solid var(--primary);
  }
  textarea::placeholder {
    color: var(--primary);
  }
  textarea:focus {
    border: 1.5px solid var(--secondary);
    outline: none;
    transition-property: border;
    transition-duration: 0.75s;
    transition-timing-function: linear;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 5%;
    margin-right: 5%;
  }
  .column {
    margin: 5%;
  }
  .column div {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
  }
}
